{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% load django_bootstrap5 %}
{% load export_url from django_tables2 %}
{% block title %}Inventory{% endblock title %}
{% block body %}
<div class="container pt-1 mt-1"><br>
    <h1 class="text-3xl text-left leading-8 font-bold tracking-tight text-green-700 ">Inventory</h1>
</div>
<div class="container pt-1">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-auto py-1 px-0">
                <div class="float-left" style="margin-bottom: -25px;">
                    {% comment %} {% if filter %}
                    <form action="" method="get" class="form form-inline mx-1 float-left">
                        {% bootstrap_form filter.form %}
                        <div class="mx-1 mt-2">
                            {% bootstrap_button 'filter' %}
                        </div>
                    </form>
                    {% endif %} {% endcomment %}
                    <a href="#" class="mx-1 my-4 btn btn-primary float-right" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">+</a>
                    {% for format in view.export_formats %}
                    <a href="{% export_url format %}" class="btn btn-primary" style="margin-bottom:-60px;" role="button"
                        download>
                        <code>.{{ format }}</code>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="collapse" id="collapseExample">
        <form class="row g-3 pt-5" method="post" action="/inv">
            {% csrf_token %}
            <div class="col-6">
                <label for="productSno" class="form-label">Product SNo.</label>
                <input type="text" class="form-control" id="productSno" placeholder="Enter Your name" name="productSno">
            </div>
            <div class="col-6">
                <label for="level" class="form-label">Level</label>
                <input type="text" class="form-control" id="level" placeholder="Please enter your ID No" name="level">
            </div>
            <div class="col-6">
                <label for="qpp" class="form-label">QPP</label>
                <input type="Number" class="form-control" id="qpp" placeholder="Please enter Part name" name="qpp">
            </div>
            <div class="col-6">
                <label for="dimension" class="form-label">Dimension</label>
                <input type="text" class="form-control" id="dimension" placeholder="Please Enter Part Serial Number"
                    name="dimension">
            </div>
            <div class="col-6">
                <label for="drawingno" class="form-label">Drawing No</label>
                <input type="text" class="form-control" id="drawingno" placeholder="Please Enter Part Serial Number"
                    name="drawingno">
            </div>
            <div class="col-6">
                <label for="availableNos" class="form-label">Available Nos.</label>
                <input type="text" class="form-control" id="availableNos" placeholder="Please Enter Part Serial Number"
                    name="availableNos">
            </div>
            <div class="col-6">
                <label for="description" class="form-label">Description</label>
                <input type="text" class="form-control" id="description" placeholder="Please Enter Part Serial Number"
                    name="description">
            </div>
            <div class="col-md-6">
                <label for="timein" class="form-label">Time In</label>
                <div class='input-group date' id='timein'>
                    <input type='datetime-local' class="form-control" name="timein" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class=" container col-12">
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="submit" class="btn btn-primary">Clear</button>
            </div>
        </form>
    </div>
    {% render_table table %}
</div>
{% endblock body %}