{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% load django_bootstrap5 %}
{% load export_url from django_tables2 %}
{% block title %}Component Details{% endblock title %}
{% block body %}
<div class="container pt-1 mt-1"><br>
    <h1 class="text-3xl text-left leading-8 font-bold tracking-tight text-green-700 ">Components Details</h1>
</div>
<div class="container pt-1">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-auto py-1 px-0">
                <div class="float-left" style="margin-bottom: -25px;">
                    {% if filter %}
                    <form action="" method="get" class="form form-inline mx-1 float-left">
                        {% bootstrap_form filter.form  %}
                        <div class="mx-1 mt-2">
                        {% bootstrap_button 'filter'  %}
                        </div>        
                    </form>
                {% endif %}
                {% comment %} </div> {% endcomment %}
                {% comment %} <div style=""> {% endcomment %}
                <a href="#" class="mx-1 my-4 btn btn-primary float-right" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">+</a>
                {% for format in view.export_formats %}
                <a href="{% export_url format %}" class="btn btn-primary" style="margin-bottom:-60px;" role="button" download>
                    <code>.{{ format }}</code>
                </a>
                {% endfor %}
            </div>
            </div>
        </div>
    </div>
    <div class="collapse" id="collapseExample">
        <form class="row g-3"  method="post" action="/comp_details" >
            {% csrf_token %}
            
            <div class="col-md-6 ">
                <label for="component_name" class="form-label pt-20">Component Name</label>
                <input type="text" class="form-control" id="component_name" name="component_name" placeholder="Name of Component">
            </div>
            <div class="col-md-6">
                <label for="DrawingNo" class="form-label">Drawing No</label>
                <input type="text" class="form-control" id="DrawingNo" name="DrawingNo" placeholder="Drawing No">
            </div>
            <div class ="col-md-6" >
                <label for="qpp" class="form-label">Quantity Per Coach</label>
                <input type="number" class="form-control" id="qpp" name="qpp" placeholder="Quantity Per Coach">
    
            </div>
            <div class ="col-md-6" >
                <label for="Level" class="form-label">Level</label>
                <input type="text" class="form-control" id="Level" name="Level" placeholder="Level">
            </div>
            <div class ="col-md-6" >
                <label for="predecessor" class="form-label">Predecessor</label>
                <input type="text" class="form-control" id="predecessor" name="predecessor" placeholder="predecessor">
            </div>
            <div class ="col-md-6" >
                <label for="successor" class="form-label">Successor</label>
                <input type="text" class="form-control" id="successor" name="successor" placeholder="successor">
            </div>
            <div class="col-md-6">
                <label for="description" class="form-label">Description</label>
                <input type="text" class="form-control" id="description" name="description" placeholder="Description">
            </div>
            <div class="col-md-6">
                <label for="modelName" class="form-label">Model Name</label>
                <input type="text" class="form-control" id="modelName" name="modelName" placeholder="Model Name">
            </div>
            <div class="col-4">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
    {% render_table table %}
</div>

{% endblock body %}