{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block body %}    
<div class="container px-4 pt-5">
    <h1 class="text-center">In-House Inventory Details</h1>
    <form class="row g-3" method="post" action="/invUpdate">{{csrf_input}}
        {% comment %} {% csrf_token %}   {% endcomment %}
        <div class="col-6">
            <label for="productSno" class="form-label">Product SNo.</label>
            <input type="text" class="form-control" id="productSno" placeholder="Enter Your name" name="productSno">
        </div>
        <div class="col-6">
            <label for="level" class="form-label">Level</label>
            <input type="text" class="form-control" id="level" placeholder="Please enter your ID No" name="level">
        </div>
        <div class="col-6">
            <label for="qpp" class="form-label">QPP</label>
            <input type="Number" class="form-control" id="qpp" placeholder="Please enter Part name" name="qpp">
        </div>
        <div class="col-6">
            <label for="dimension" class="form-label">Dimension</label>
            <input type="text" class="form-control" id="dimension" placeholder="Please Enter Part Serial Number" name="dimension">
        </div>
        <div class="col-6">
            <label for="drawingno" class="form-label">Drawing No</label>
            <input type="text" class="form-control" id="drawingno" placeholder="Please Enter Part Serial Number" name="drawingno">
        </div>
        <div class="col-6">
            <label for="availableNos" class="form-label">Available Nos.</label>
            <input type="text" class="form-control" id="availableNos" placeholder="Please Enter Part Serial Number" name="availableNos">
        </div>
        <div class="col-6">
            <label for="description" class="form-label">Description</label>
            <input type="text" class="form-control" id="description" placeholder="Please Enter Part Serial Number" name="description">
        </div>
        <div class="col-md-6">
            <label for="timein" class="form-label">Time In</label>
            <div class='input-group date' id='timein'>
                <input type='datetime-local' class="form-control" name="timein" />
                <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        {% comment %} <script type="text/javascript">
            $(function () {
                $('#timein').datetimepicker();
                $("#timein").on("dp.change", function (e) {
                    $('#timeout').data("DateTimePicker").minDate(e.date);
                });
        </script> {% endcomment %}
        <div class=" container col-12">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="submit" class="btn btn-primary">Clear</button>
        </div>
        {% comment %} <div class=" container col-6">
        </div> {% endcomment %}
    </form>
<div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    
</script>

{% endblock body %}