{% extends 'base.html' %}
{% block title %}Machine Details{% endblock title %}
{% block body %}

<div class="container mt-5">
    <p>
    <button class="btn btn-primary float-right mt-5 mr-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Add
    </button></p>
    <div class="collapse" id="collapseExample">
        <form class="row g-3 pt-5"  method="post" action="/place_order" >
            {% csrf_token %}
            <script>
                const csrftoken=document.queryselector('[name=csrfmiddlewaretoken]').value;
            </script>
            <div class="col-md-6 ">
                <label for="machine_name" class="form-label pt-20">Machine Name</label>
                <input type="text" class="form-control" id="machine_name" name="machine_name" placeholder="Name of Machine">
            </div>
            <div class="col-md-6">
                <label for="Manufacturer" class="form-label">Manufacturer</label>
                <input type="text" class="form-control" id="Manufacturer" name="Manufacturer" placeholder="Name of Controller">
            </div>
            <div class ="col-md-6" >
                <label for="shopName" class="form-label">Shop Name</label>
                <select id="shopName" class="form-select" name="shopName">
                    <option selected>Select Variant</option>
                    <option value="Shell Shop">Shell Shop</option>
                    <option value="Sheet Metal Shop">Sheet Metal Shop</option>
                    <option value="Bogie Shop">Bogie Shop</option>
                    <option value="Wheel Shop">Wheel Shop</option>
                    <option value="Paint Shop">Paint Shop</option>
                </select>    
            </div>
            <div class ="col-md-6" >
                <label for="MachineNo" class="form-label">Machine No</label>
                <input type="number" class="form-control" id="MachineNo" name="MachineNo" placeholder="Machine No">
            </div>
            <div class="col-md-6">
                <label for="description" class="form-label">Description</label>
                <input type="text" class="form-control" id="description" name="description" placeholder="Description">
            </div>
            <div class="col-md-6">
                <label for="remarks" class="form-label">Priority</label>
                <input type="text" class="form-control" id="remarks" name="remarks" placeholder="Remarks">
            </div>
            <div class="col-4">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">S No.</th>
                <th scope="col">Machine Name</th>
                <th scope="col">Manufacturer</th>
                <th scope="col">Shop Name</th>
                <th scope="col">Machine No.</th>
                <th scope="col">Description</th>
                <th scope="col">RT Status</th>
                <th scope="col">Remarks</th>
            </tr>
        </thead>
        {% comment %} <tbody>
            {% if orders|length > 0 %}    
                {% for order in orders %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>{{order.orderRefNo}}</td>
                        <td>{{order.orderVariant}}</td>
                        <td>{{order.orderStartDate}}</td>
                        <td>{{order.orderEndDate}}</td>
                        <td>{{order.orderQuantity}}</td>
                        <td>{{order.orderPriority}}</td>
                        <td>
                            <a href="/update/{{forloop.counter}}" type="button" class="btn btn-outline-dark btn-sm mx-1">Update</button>
                            <a href="/delete/{{order.sno}}" type="button" class="btn btn-outline-dark btn-sm mx-1">Delete</button>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody> {% endcomment %}
    </table>
</div>
{% endblock body %}