{% extends 'base.html' %}
{% block title %}Place_Order{% endblock title %}
{% block body %}
<div class="container pt-4 mt-5"><br>
    <h1 class="text-3xl text-center leading-8 font-bold tracking-tight text-green-700 ">Order Update</h1>
</div>
<div class="container my-3">
    <form class="row g-3"  method="post" action="/update{{order.sno}}">
        {% csrf_token %}
        <div class="col-md-6">
            <label for="OR_no." class="form-label">Order Reference No.</label>
            <input type="text" class="form-control" id="OR_no." name="OR_no" placeholder="Order Reference No" value={{order.orderRefNo}}>
        </div>
        <div class="col-md-6">
            <label for="variant" class="form-label">Variant</label>
            <input type="text" placeholder="name of Variant" class="form-control" id="variant" name="variant"  value={{order.orderVariant}}>
        </div>
        <script>
            $('.datepicker').datepicker();
        </script>
        <div class ="col-md-6" >
            <label class="md-form md-outline input-with-post-icon datepicker" for="start_date">Start Date</label>
            <input placeholder="Select date" type="date" id="start_date" class="form-control" name ="start_date" value={{order.orderStartDate}} format="d-m-Y">
            <i class="fas fa-calendar input-prefix" tabindex=0></i>
        </div>
        <div class ="col-md-6" >
            <label class="md-form md-outline input-with-post-icon datepicker" for="end_date">End Date</label>
            <input placeholder="Select date" type="date" id="end_date" class="form-control" name ="end_date" value={{order.orderEndDate}}>
            <i class="fas fa-calendar input-prefix" tabindex=0></i>
        </div>
        <div class="col-md-6">
            <label for="quantity" class="form-label">Quantity</label>
            <input type="number" class="form-control" id="quantity" name="quantity" placeholder="Enter quantity no." value={{order.orderQuantity}}>
        </div>
        <div class="col-md-6">
            <label for="priority" class="form-label">Priority</label>
            <input type="number" class="form-control" id="priority" name="priority" placeholder="Enter Priotity no." value={{order.orderPriority}}>
        </div>
        <div class="col-4">
            <button type="submit" class="btn btn-primary" value="submit">Submit</button>
        </div>
    </form>
    
</div>    
{% endblock body %}
    